@inherits LayoutComponentBase
@using pwGazWater.Data
@inject SingletonServise servise

<PageTitle>pwGazWater</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            @if (servise.GetUser() == null)
            {
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            }
            else if (servise.GetUser().GetType().Name == "Customer")
            {
                    <a href="Profile">@((servise.GetUser() as Customer).Login)</a>
            }
            else if (servise.GetUser().GetType().Name == "Developer")
            {
                <a href="Profile">@((servise.GetUser() as Developer).Login)</a>
            }
            else
            {
                <a href="Profile">@((servise.GetUser() as Planner).Login)</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
